.git*
**/*.pyc
.venv/
model/images
model/tests
frontend/node_modules
frontend/public
frontend/src
frontend/.gitignore
frontend/package-lock.json
frontend/package.json
frontend/tsconfig.json
frontend/README.md
