.controls {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-end;

  &-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-end;
  }
}
