.app {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 50px;
}

@import './components/board/board.scss';
@import './components/cell/cell.scss';
@import './components/controls/controls.scss';
@import './components/group/group.scss';
@import './components/solve-button/solve-button.scss';
