.app {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 20px 50px;
}

@import './components/board/board.scss';
@import './components/cell/cell.scss';
@import './components/clear-button/clear-button.scss';
@import './components/controls/controls.scss';
@import './components/erase-button/erase-button.scss';
@import './components/group/group.scss';
@import './components/input-cell/input-cell.scss';
@import './components/input-group/input-group.scss';
@import './components/number-input/number-input.scss';
@import './components/reset-button/reset-button.scss';
@import './components/shift-button/shift-button.scss';
@import './components/solve-button/solve-button.scss';
@import './components/variant-selector/variant-selector.scss';
