.cell {
  height: 60px;
  width: 60px;
  border: 1px black solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  position: relative;

  &-focused {
    background-color: rgb(171, 171, 255);
  }

  &-highlighted {
    background-color: rgb(201, 201, 201);
  }

  &-solution {
    color: #005cff;
  }

  &-in-group {
    background-color: rgb(2, 177, 2);
  }

  &-border {
    position: absolute;
  }

  &-top-border {
    background: repeating-linear-gradient(90deg, black 0 5px,#0000 0 7px);
    top: 2px;
    left: 2px;
    width: 56px;
    height: 2px;
  }

  &-right-border {
    background: repeating-linear-gradient(0deg, black 0 5px,#0000 0 7px);
    top: 2px;
    right: 2px;
    width: 2px;
    height: 56px;
  }

  &-bottom-border {
    background: repeating-linear-gradient(90deg, black 0 5px,#0000 0 7px);
    bottom: 2px;
    left: 2px;
    width: 56px;
    height: 2px;
  }

  &-left-border {
    background: repeating-linear-gradient(0deg, black 0 5px,#0000 0 7px);
    top: 2px;
    left: 2px;
    width: 2px;
    height: 56px;
  }

  &-area-number {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 15px;
    color: rgb(65, 65, 65);
  }
}
